action{display:block;cursor:pointer;color:#666;font-size:18px;padding:.5em;-webkit-border-radius:5px;border-radius:5px;}action:first-of-type{margin-top:1em}action:hover{color:#222;background:#eee}
adventure{display:block;width:600px;margin:50px auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;-webkit-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;-webkit-border-radius:5px;border-radius:5px;font-size:14px;padding:1.5em}
body{background:#f2f2f2}