include ../mixins

doctype html
html(ng-app="tg")
    head
        title foobar

        +css('/vendor/reset-css', 'reset')
        +js('/vendor/angular', 'angular')
        +js('/vendor/angular-route', 'angular-route')
        +js('/vendor/store/dist', 'store2')

        +css('style')
        +js('app.min')

    body
        ng-view