action
    display block
    cursor pointer
    color #666
    font-size 18px
    padding .5em
    border-radius 5px

    &:first-of-type
        margin-top 1em

    &:hover
        color #222
        background #eee