mixin css(path, filename)
    - var base = (filename ? path : '/css') + '/'
    - var fullpath = base + (filename || path) + '.css'
    link(rel='stylesheet', href=fullpath)

mixin js(path, filename)
    - var base = (filename ? path : '/js') + '/'
    - var fullpath = base + (filename || path) + '.js'
    script(src=fullpath)