
<p>You wake up blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
<action link="2">Go ashore</action>
<action link="3">Drown yourself</action>